##############################
# IntelliJ IDEA
##############################

# Ignorer ALT i .idea, undtagen de filer der skal i Git
.idea/*
!.idea/misc.xml
!.idea/modules.xml
!.idea/codeStyles/
!.idea/runConfigurations/

# Disse filer SKAL aldrig med
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/caches/
.idea/httpRequests/
.idea/inspectionProfiles/
.idea/sonarlint/

# Build folder
out/

##############################
# Java
##############################

# Compiled classes
*.class

# JVM crash logs
hs_err_pid*
replay_pid*

# Logs
*.log

# Package archives
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# BlueJ
*.ctxt

# J2ME
.mtj.tmp/

##############################
# OS Junk (macOS + Windows)
##############################

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump

# Windows installer
*.cab
*.msi
*.msix
*.msm
*.msp
